name: Test

on:
    workflow_call:
    pull_request: {}
    push:
        branches: [main]
        tags: ["*"]

jobs:
    test:
        runs-on: "ubuntu-latest"
        steps:
            - uses: actions/checkout@v4
            - name: Install uv
              uses: astral-sh/setup-uv@v3
              with:
                  version: "latest"
            - name: Install dependencies
              run: uv pip install -e ".[dev]"
            - name: Run security checks
              run: make security
            - name: Run tests
              run: make test
            - name: Build package (dry-run)
              run: uv build
